<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTest" parallel="classes" thread-count="2" verbose = "10">
    <listeners>
        <listener class-name="poc.config.MyCustomListener" />
    </listeners>
    <test name="Testx">
        <classes>
            <class name="poc.stepDefs.MyTestIT" />
        </classes>
    </test>
</suite>